* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

body {
  font-family: Montserrat;
}

.main__wrap {
  display: flex;
}
.main__title {
  font-size: 68px;
  font-weight: 500;
  color: darkgreen;
}
.main__texts {
  padding: 186px 72px 110px 72px;
}
.main__text {
  color: black;
  font-weight: 400;
  font-size: 18px;
}
.main__btns {
  display: flex;
  margin-right: -100px;
}
.main__btn {
  display: flex;
  flex-direction: column;
  padding: 38px 40px;
}
.main__link {
  color: rgb(174, 174, 187);
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
  margin-bottom: 13px;
}
.main__link_p::before {
  content: rgba(136, 85, 153, 0.1333333333);
  display: block;
  width: 21px;
  height: 18px;
  background: url(../img/arrow-forward.svg) no-repeat center center/cover;
  margin-right: 13px;
}
.main__info {
  color: darkgreen;
  font-size: 32px;
  font-weight: 500;
}
.main_w {
  color: #fff;
}